<div class="p-3 mx-auto rounded-3 resetpassword_operation_container">
  <p class="resetpassword_container_title pt-5 pb-2 px-5">Reset Password</p>
  <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
    <input
      [(ngModel)]="newPassword"
      type="password"
      placeholder="Enter New Password"
      class="p-3 input_box my-1 rounded-3 mb-3"
      id="newPassword"
      name="newPassword"
      (input)="onPasswordChange()"
    >
    <input
      [(ngModel)]="confirmPassword"
      type="password"
      placeholder="Confirm New Password"
      class="p-3 input_box my-1 rounded-3 mb-3"
      id="confirmPassword"
      name="confirmPassword"
      (input)="onPasswordChange()"
    >
    <p *ngIf="passwordError" class="error-msg">{{ passwordError }}</p>
    <button type="submit" class="_primaryButton py-2 px-3 mb-2">Submit</button>
  </form>
</div>
