<div>
    <div class="profile">
      <h1 class="profileTitle">My Profile</h1>
      <div *ngIf="selectedFieldWorker">
      <div  class="selectedFieldWorker-card">
        <div class="selectedFieldWorkerCard-header">
          <img [src]="selectedFieldWorker.profileImage" alt="{{selectedFieldWorker.name}}" class="selectedFieldWorkerProfile-image" />
        </div>
        <div class="selectedFieldWorkerCard-body">
          <p class="selectedFieldWorker-detail"><strong>Name:</strong> {{ selectedFieldWorker.name }}</p>
          <p class="selectedFieldWorker-detail"><strong>Work Type:</strong> {{ selectedFieldWorker.workType }}</p>
          <p class="selectedFieldWorker-detail"><strong>District:</strong> {{ selectedFieldWorker.district }}</p>
          <p class="selectedFieldWorker-detail"><strong>Phone Number:</strong> {{ selectedFieldWorker.phoneNumber }}</p>
          <p class="selectedFieldWorker-detail">
            <strong>NIC:</strong> 
            <a [href]="selectedFieldWorker.nic" target="_blank" class="selectedFieldWorkernic-link">View</a>
          </p>
          <p class="selectedFieldWorker-detail">
            <strong>Certificates:</strong> 
            <a [href]="selectedFieldWorker.certificates" target="_blank" class="selectedFieldWorkercertificate-link">View</a>
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
  