<div class="p-3 mx-auto rounded-3">
  <p class="forgotpassword_container_title pt-5 pb-2 px-5">Send OTP to the mail</p>
  <form (ngSubmit)="sendVerificationCode()" #forgotPasswordForm="ngForm">
    <input (input)="onEmailChange($event)" type="text" placeholder="Please Enter Your Email Here" class="p-3 input_box my-1 rounded-3 mb-3" id="email" name="email" ngModel>
    <p *ngIf="emailError" class="error-msg">{{emailError}}</p>
    <button type="submit" class="_primaryButton py-2 px-3 mb-2" >Send OTP</button>
  </form>
</div>
